@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'sprite';
@import 'fonts/font_fontawesome';
@import 'fonts/font_opensans';
@import 'fonts/font_roboto';
html,
body {
  min-width: $width;
  height: 100%;
  margin: 0;
  padding: 0;

  animation: fadein 2s;
}
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}

header {
  position: relative;

  height: 274px;
  &:before {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;

    height: 45px;

    background-color: $blue;

    @extend .dblock;
  }
  .inner {
    height: 100%;
  }
  .logo {
    position: absolute;
    top: 70px;
    left: 0;

    display: block;

    width: 474px;
    height: 107px;
    img {
      max-width: 100%;
    }
  }
  .zibrov {
    position: absolute;
    top: 84px;
    right: 0;

    width: 468px;
    height: 60px;
    span {
      display: block;

      width: 100%;
      height: 100%;

      background-color: yellow;
    }
  }
}
nav {
  position: absolute;
  top: 190px;
  right: 0;
  left: 0;

  height: 44px;
  padding: 10px 0;

  background-color: #565859;

  @extend .clearfix;
  .headnav {
    float: left;

    padding: 0;

    @extend .clearfix;
    li {
      position: relative;

      display: inline-block;
      float: left;

      height: 22px;
      margin: 0;
      padding: 0;

      border-right: 1px solid #fff;
      a {
        padding: 0 12px;

        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
        &:hover {
          color: $blue;
        }
      }
      &:last-child {
        border-right: 0;
      }
      .sub-menu {
        position: absolute;
        z-index: 3;
        top: 18px;
        left: 0;

        display: none;

        height: auto;
        padding-bottom: 8px;

        border-top: 10px solid #565859;
        li {
          display: block;

          width: 100%;
          height: auto;
          margin: 0;
          padding: 0;

          border-right: none;
          a {
            display: block;

            width: 100%;
            padding: 3px 8px;

            background-color: #424345;
          }
        }
      }
      &:hover {
        .sub-menu {
          display: inline-block;
        }
      }
    }
  }
  .socialnav {
    float: right;

    width: 210px;
    padding: 0 10px;

    text-align: right;
    li {
      display: inline-block;

      width: 26px;
      height: 26px;
      margin: 0 2px;
      a {
        display: block;

        height: 100%;

        opacity: .8;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.soc-ico-vk {
        a {
          background-image: url(../img/ico/ico-vk.png);
        }
      }
      &.soc-ico-od {
        a {
          background-image: url(../img/ico/ico-od.png);
        }
      }
      &.soc-ico-fb {
        a {
          background-image: url(../img/ico/ico-fb.png);
        }
      }
      &.soc-ico-tw {
        a {
          background-image: url(../img/ico/ico-tw.png);
        }
      }
      &.soc-ico-gp {
        a {
          background-image: url(../img/ico/ico-gp.png);
        }
      }
      &:hover {
        a {
          opacity: 1;
        }
      }
    }
  }
}
.header-search {
  position: absolute;
  z-index: 1;
  top: 260px;
  right: 0;

  overflow: hidden;

  width: 230px;
  height: 30px;

  border-radius: 3px;
  input {
    margin: 0;
    padding: 5px;
  }
  input[type='text'] {
    width: 100%;
    height: 100%;

    color: #fff;
    background-color: $blue;
  }
  input[type='submit'] {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;

    display: block;

    width: 30px;

    cursor: pointer;

    border: 0;
    background-color: transparent;
    background-image: url(../img/ico/ico-search.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.cat-title {
  font-size: 23px;

  float: left;

  width: 100%;
  margin: 0 0 12px;
  margin-top: -30px;
  padding: 0 260px 12px 0;

  text-transform: uppercase;

  color: #000;
  border-bottom: 1px solid #000;
}
.single-title {
  font-size: 23px;

  float: left;

  width: 100%;
  margin: 0 0 12px;
  margin-top: -14px;
  padding: 0 260px 12px 0;

  text-transform: uppercase;

  color: #000;
  border-bottom: 1px solid #000;
}
.article-left-sidebar {
  float: right;

  width: 780px;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 150px;

  @extend .clearfix;
  .page-title {
    font-size: 23px;

    margin: -30px 0 12px;
    padding: 0 0 12px;

    text-transform: uppercase;

    color: #040404;
    border-bottom: 1px solid #040404;
  }
}
.article-right-sidebar {
  float: left;

  width: 780px;
}
.article-without-sidebar {
  float: left;

  width: 780px;
  padding: 0 80px;
  .page-title-wide {
    font-size: 23px;

    margin: 0 0 30px;

    text-transform: uppercase;

    color: #040404;
  }
  form {
    margin: 0 0 20px;
    textarea,
    input {
      border-radius: 5px;
      background-color: #f7f7f7;
    }
    input[type='submit'] {
      float: right;

      background-color: $blue;
    }
    p {
      @extend .clearfix;
    }
  }
}
.article-precontent {
  margin: 0 0 18px;
  span {
    display: inline-block;

    height: 20px;
    margin: 0 12px 0 0;
    padding: 6px 0;
  }
  .cats,
  .tags {
    a {
      display: inline-block;

      padding: 0 12px;

      color: #fff;
    }
  }
  .cats {
    a {
      background-color: #00aaad;
    }
  }
  .tags {
    a {
      margin: 0 10px 0 0;

      background-color: $orange;
    }
  }
  .date {
    font-size: 15px;

    padding: 6px 0;

    color: #565859;
  }
}
.single-thumb {
  display: block;

  width: 100%;
  margin: 0 0 16px;
}
.looper {
  @extend .clearfix;
}
.front-loop {
  display: inline-block;
  float: left;

  width: 380px;
  height: 360px;
  margin: 0 10px 65px;

  background-color: #f7f7f7;
  &:nth-child(odd) {
    margin-left: 0;
  }
  &:nth-child(even) {
    margin-right: 0;
  }
  a {
    position: relative;

    display: block;

    width: 100%;
    height: 100%;
    padding: 0;

    text-decoration: none;

    opacity: .9;
    img {
      display: block;

      width: 100%;
      height: 255px;
      margin: 0 0 12px;
    }
    &:hover {
      text-decoration: none;

      opacity: 1;
    }
  }
  .cat {
    position: absolute;
    top: 16px;
    left: 0;

    display: inline-block;

    padding: 0 12px;

    color: #fff;
    &.catid-kultura {
      background-color: orange;
    }
    &.catid-meditsina {
      background-color: #00a651;
    }
    &.catid-obrazovanie {
      background-color: #00b5f0;
    }
    &.catid-politika {
      background-color: #b0d136;
    }
    &.catid-sobytiya {
      background-color: #00aaad;
    }
    &.catid-sport {
      background-color: #f37121;
    }
    &.catid-ekonomika {
      background-color: #ee3a23;
    }
    &.catid-else {
      background-color: #00a651;
    }
    &.catid-else {
      background-color: #051700;
    }
  }
  .inner-title {
    font-size: 22px;

    padding: 0 12px;

    color: #000;
  }
  .date {
    font-size: 12px;

    position: absolute;
    bottom: 12px;
    left: 12px;

    display: block;

    color: #565859;
  }
}
.front-loop-cat {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.pagination {
  float: left;

  width: 100%;

  text-align: center;
  span,
  a {
    display: inline-block;

    margin: 0 5px;
  }
}
aside {
  .widget {
    padding: 0 12px 12px;
    h6 {
      font-size: 23px;

      margin-right: -12px;
      margin-bottom: 12px;
      margin-left: -12px;
      padding: 0 0 12px;

      text-transform: uppercase;

      color: #040404;
      border-bottom: 1px solid #040404;
    }
    ul,
    ol {
      margin: 0;
      padding: 0;
    }
  }
  .widget-last-news {
    li {
      position: relative;

      display: block;

      margin: 0 0 12px;
      padding: 0 0 0 50px;
      .time {
        font-size: 16px;

        position: absolute;
        top: 2px;
        left: 0;

        display: block;

        width: 35px;

        text-align: center;

        color: #fff;
        background-color: $blue;
      }
      a {
        color: #000;
        &:hover {
          text-decoration: none;

          color: $blue;
        }
      }
    }
  }
  .widget-cat-list {
    margin: 0 0 40px;
    h6 {
      font-size: 20px;

      margin: 0 0 16px;
      padding: 8px;

      color: #f8fbfd;
      border-bottom: 0;
    }
    li {
      font-size: 16px;

      margin: 0 0 12px;
      padding: 0 0 12px;

      border-bottom: 1px solid #000;
      a {
        color: #565859;
      }
    }
  }
  .widget-cat-list-orange {
    h6 {
      background-color: $orange;
    }
  }
  .widget-cat-list-blue {
    h6 {
      background-color: #00aaad;
    }
  }
}

.sidebar-left,
.sidebar-right {
  width: 300px;
}
.sidebar-right {
  float: right;
}
.sidebar-left {
  float: left;
}

footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $blue;
  .inner {
    height: $footer;
    &:after {
      position: absolute;
      z-index: -1;
      top: -212px;
      right: 0;

      width: 327px;
      height: 206px;

      background-image: url(../img/logo-footer.png);
      background-repeat: no-repeat;
      background-position: right bottom;

      @extend .dblock;
    }
  }
  .footernav {
    position: absolute;
    top: 35px;
    left: 0;

    @extend .clearfix;
    li {
      display: inline-block;

      padding: 0 10px;

      border-right: 1px solid #fff;
      a {
        font-size: 18px;
        line-height: .8;

        margin: 0;

        text-transform: capitalize;

        color: #fff;
      }
      &:last-child {
        border-right: 0;
      }
    }
  }
  .copyright {
    font-size: 18px;

    position: absolute;
    top: 36px;
    right: 0;

    margin: 0;

    text-align: right;

    color: #fff;
  }
}

@import 'import/print';
